.cart-item {
  display: flex;
  flex-flow: row wrap;
}
.cart-item-title {
  flex: 1 0 100%;
}
.cart-item-price {
  display: flex;
}
.cart-item-controls {
  display: flex;
}
.cart-item-update-qty-button {
  display: flex;
}
.cart-item-qty {
  display: flex;
}
.cart-item-remove-button {
  display: flex;
  margin-left: 10px;
}

.cart-portal-container {
  height: 100%;
  width: 100%;
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  transition: all 0.3s ease-in-out;
}

.cart-portal-container.cart-animate-open {
  background: rgba(0, 0, 0, 0.6);
}

.cart-portal-container .cart-sidebar-container {
  width: 30em;
  background: white;
  transition: all 0.3s ease-in-out;
  height: 100vh;
  transform: translateX(-100%);
}

.cart-portal-container.cart-animate-open .cart-sidebar-container {
  opacity: 1;
  transform: translateX(0);
}

.cart-portal-container.cart-animate-closed .cart-sidebar-container {
  opacity: 0;
  transform: translateX(-100%);
  pointer-events: auto;
}

.cart-portal-container.cart-animate-closed {
  background: rgba(0, 0, 0, 0);
  pointer-events: none;
}

.cart-sidebar-container {
  display: flex;
  position: relative;
  flex-flow: column nowrap;
  align-items: stretch;
  justify-content: flex-start;
  max-height: 100vh;
  overflow: hidden;
}

.cart-portal-close-button {
  position: absolute;
  top: 10px;
  right: 10px;
}
.cart-sidebar-items-container {
  overflow: scroll;
  padding: 16px;
}
.cart-sidebar-summary-container {
  width: 100%;
  flex: 1 1 auto;
  padding: 16px;
  background: #ddd;
}
.cart-checkout-button {
  font-size: 1.2em;
  font-weight: bold;
  width: 100%;
  padding: 20px;
  background: rgb(0, 190, 73);
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  color: #333;
}
.cart-checkout-button:hover {
  background: rgb(21, 192, 86);
  color: rgb(87, 87, 87);
}

.cart-list-clear-button {
  width: 100%;
  color: rgb(11, 144, 221);
  cursor: pointer;
  outline: 0;
  border: 0;
}
.cart-list-clear-button:hover {
  width: 100%;
  color: rgb(71, 171, 230);
}

.cart-subtotal {
  font-weight: bold;
}

.cart-sidebar-summary-container .cart-subtotal {
  margin: 10px 0;
}
